{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('gallery.index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('gallery.r_gallery', gallery_id=album.gallery_id) }}">{{ gallery.name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('gallery.r_album', gallery_id=album.gallery_id, album_id=album.id) }}">{{ album.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </nav>
    <h1>Delete {{ album.name }}?</h1>
    <form method="post">
        <p>Are you sure you want to delete the album <strong>"{{ album.name }}"</strong>?</p>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{{ url_for('gallery.r_album', gallery_id=album.gallery_id, album_id=album.id) }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}