{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('gallery.index') }}">Home</a></li>
            {% if gallery is defined %}
                <li class="breadcrumb-item"><a href="{{ url_for('gallery.r_gallery', gallery_slug=gallery.slug) }}">{{ gallery.name }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">
                {% if album is defined %}
                    Edit {{ album.name }}
                {% else %}
                    {{ title }}
                {% endif %}
            </li>
        </ol>
    </nav>
    {% if album is defined %}
       <h1>Edit {{ album.name }}</h1>
    {% else %}
        <h1>{{ title }}</h1>
    {% endif %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.name.errors|join(', ') }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.description.errors|join(', ') }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        {% if album is defined %}
            <a href="{{ url_for('gallery.r_album', gallery_slug=album.gallery_slug, album_slug=album.slug) }}" class="btn btn-secondary">Cancel</a>
        {% endif %}
    </form>
{% endblock %}