{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('gallery.index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('gallery.r_gallery', gallery_id=gallery.id) }}">{{ gallery.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ album.name }}</li>
        </ol>
    </nav>
    <div class="row">
        <h1 class="col col-6">{{ album.name }}</h1>
        <span class="col col-6 text-end">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('gallery.u_album', gallery_id=gallery.id, album_id=album.id) }}" class="btn btn-warning">Edit Album</a>
                <a href="{{ url_for('gallery.d_album', gallery_id=gallery.id, album_id=album.id) }}" class="btn btn-danger">Delete Album</a>
            {% endif %}
        </span>
    </div>
    <div class="mb-3 alert alert-light" role="alert">
        {{ album.description }}
    </div>
    <div class="container">
        <div class="row">
            {% for photo in album.images %}
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <a href="{{ url_for('gallery.album.r_photo', photo_id=photo.id) }}" class="card text-bg-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <img src="{{ url_for('gallery.album.s_photo', photo_id=photo.id) }}" class="card-img-top" alt="{{ photo.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ photo.name }}</h5>
                            <p class="card-text">{{ photo.description }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('gallery.c_image', gallery_id=gallery.id, album_id=album.id) }}" class="btn btn-primary">+ Photo</a>
        {% endif %}
    </div>
{% endblock %}