{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {% if form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.email.errors|join(', ') }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.password.errors|join(', ') }}
            </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
