{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center mt-4 mb-5 text-center">
            <nav class="row justify-content-md-center" aria-label="breadcrumb">
                <ol class="breadcrumb col-auto mb-0">
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('gallery.index') }}">Photos</a>
                    </li>
                </ol>
            </nav>
            <h1 class="col col-12">{{ gallery.name }}</h1>
            <div class="col col-12">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('gallery.u_gallery', gallery_slug=gallery.slug) }}" class="btn btn-sm btn-warning">Edit Gallery</a>
                    <a href="{{ url_for('gallery.d_gallery', gallery_slug=gallery.slug) }}" class="btn btn-sm btn-danger">Delete Gallery</a>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-md-center text-center">
            <div class="col-lg-6 col-md-8 col-sm-12 mb-3 alert alert-light ">{{ gallery.description }}</div>
        </div>
        <div class="col-auto row justify-content-md-center">
            {% for album in gallery.albums %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    <a href="{{ url_for('gallery.r_album', gallery_slug=gallery.slug, album_slug=album.slug) }}" class="card text-bg-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <div class="card-body">
                            <h5 class="card-title">{{ album.name }}</h5>
                            <p class="card-text">{{ album.description }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% if current_user.is_authenticated %}
                <div class="text-center">
                    <a href="{{ url_for('gallery.c_album', gallery_slug=gallery.slug) }}" class="btn btn-primary">+ Album</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
